.pio
*.raw
*.bak
*-bak
*.bck
*.dcm
*.cmp
*.log
*.toc
*.aux
*.out
*.zip
*.xml
*.net
fp-info-cache
*-backups
*-PcbDoc-rescue.dcm
*-PcbDoc-rescue.lib
*-cache.lib
*.kicad_prl
.ipynb_checkpoints
__pycache__/
grb/
sdkconfig.espirgbani
CMakeLists.txt
dependencies.lock
managed_components/
pcb/production/
pcb/~rgb.kicad_sch.lck
src/CMakeLists.txt
